@font-face {
    font-family: 'DINPro';
    src: local("DINPro"), url(../assets/fonts/dinpro.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

  @font-face {
    font-family: 'DINProMedium';
    src: local("DINProMedium"), url(../assets/fonts/dinpro_medium.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }